footer {
    background-color: #0e0f0f;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

#scroll{
    color: red;
}

.user{
    margin-left: 870px;
}

#loggeduser{
    color: grey;
    margin-top: 7px;
    margin-bottom: 0rem;
    margin-left: 5px;
}
